// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$primary-color: #384859;
$primary-dark-color: #2d3a47;
$primary-color-active: #536a7d;
$primary-color-hover: #4dccff;
$primary-color-link-active: #ffffff;
$primary-color-link: #8e97a0;


// Resolutions
$mobile: 27rem;
$tablet: 48rem;
$desktop: 75rem;


