@charset "UTF-8";
@font-face {
  font-family: "fontello";
  src: url(/fonts/fontello.eot?3488a30208278f415f30352083dc8a18);
  src: url(/fonts/fontello.eot?3488a30208278f415f30352083dc8a18) format("embedded-opentype"), url(/fonts/fontello.woff2?f752eaf7e579638d51badae17f3e9df2) format("woff2"), url(/fonts/fontello.woff?f0a62d8719a4da93e7bcd680a265f907) format("woff"), url(/fonts/fontello.ttf?25e92b01c6774e7c393cf82f231c49cd) format("truetype"), url(/fonts/fontello.svg?80fbd392945d3572cd4982eab56f7247) format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/* *@media screen and (-webkit-min-device-pixel-ratio:0) {
 * *  @font-face {
 * *    font-family: 'fontello';
 * *    src: url('../font/fontello.svg?59716725#fontello') format('svg');
 * *  }
 * *} */
[class^=icon-]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes */
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: 0.2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Uncomment for 3D effect */
/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
.icon-usa:before {
  content: "";
}

/* '' */
.icon-mexico:before {
  content: "";
}

/* '' */
.cont {
  margin-top: 5.125rem;
}

header {
  position: fixed;
  background-color: #384859;
  color: #e0e0e0;
  top: 0;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  font-size: 1.3em;
  letter-spacing: 1px;
}
header h1 {
  text-transform: uppercase;
  font-size: 1.4em;
}

.menu {
  display: flex;
}

#menuCheck, .menu-icon {
  display: none;
}

#menuCheck {
  width: 0;
  height: 0;
}

.menu-list {
  list-style: none;
  display: flex;
}
.menu-list li {
  display: inline-block;
  margin-right: 32px;
  cursor: pointer;
  transition: color 0.3s;
}
.menu-list li:hover {
  color: #fff;
}

.dropdown-menu {
  background: #2d3a47;
  border-radius: 0px !important;
  margin: 0 auto;
  width: 100%;
  padding: 0 1.125rem;
}

.submenu {
  margin-top: 18px;
}

@media (max-width: 48rem) {
  header {
    background-color: transparent;
    color: #384859;
    padding-right: 16px;
  }
  header::before {
    content: "";
    position: fixed;
    top: -100px;
    right: -100px;
    width: 200px;
    height: 200px;
    background-color: #384859;
    border-radius: 50%;
  }

  .submenu {
    margin-top: 0;
  }

  #menuCheck {
    display: block;
  }

  .menu-icon {
    display: block;
    color: #fff;
    position: relative;
    z-index: 2;
  }

  .menu-list {
    position: fixed;
    background-color: #384859;
    color: #fff;
    top: -100%;
    left: 100%;
    width: 150vh;
    height: 150vh;
    border-radius: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: top 0.4s, left 0.4s, transform 0.4s;
  }

  #menuCheck:checked ~ .menu-list {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .menu-list li {
    text-transform: uppercase;
    font-size: 1.5em;
    letter-spacing: 2px;
    margin-bottom: 40px;
    opacity: 0;
    transition: opacity 1s;
  }

  #menuCheck:checked ~ .menu-list li {
    opacity: 1;
  }

  .menu-icon {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    font-size: 1.4em;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #menuCheck:checked ~ .menu-icon {
    border: 2px solid #fff;
  }

  label .fa-bars, #menuCheck:checked ~ label .fa-times {
    display: block;
  }

  label .fa-times, #menuCheck:checked ~ label .fa-bars {
    display: none;
  }
}
.site-footer {
  background-color: #26272b;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
}
.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
}
.site-footer hr.small {
  margin: 20px 0;
}
.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}
.site-footer a {
  color: #737373;
}
.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links {
  padding-left: 0;
  list-style: none;
}
.footer-links li {
  display: block;
}
.footer-links a {
  color: #737373;
}
.footer-links a:active, .footer-links a:focus, .footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}
.footer-links.inline li {
  display: inline-block;
}

.site-footer .social-icons {
  text-align: right;
}
.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d;
}

.copyright-text {
  margin: 0;
}

.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}
.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px;
}
.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  transition: all 0.2s linear;
}
.social-icons a:active, .social-icons a:focus, .social-icons a:hover {
  color: #fff;
  background-color: #29aafe;
}
.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}
.social-icons a.facebook:hover {
  background-color: #3b5998;
}
.social-icons a.mexico:hover {
  background: linear-gradient(90deg, #006847, white, #ce1126);
}
.social-icons a.usa:hover {
  background: linear-gradient(#0052b4, #ce1126);
}
.social-icons a.twitter:hover {
  background-color: #00aced;
}
.social-icons a.linkedin:hover {
  background-color: #007bb6;
}
.social-icons a.dribbble:hover {
  background-color: #ea4c89;
}

@media (max-width: 75rem) {
  .site-footer [class^=col-] {
    margin-bottom: 30px;
  }
}
@media (max-width: 48rem) {
  .site-footer {
    padding-bottom: 0;
  }
  .site-footer .copyright-text, .site-footer .social-icons {
    text-align: center;
  }

  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
}
