<template>
    <div class="container-fluid mt-5">
        <div v-for="(category, index) in categories" :key="category.id" class="row ml-md-3">
            <div class="col-2">
                <a href="#" @click="edit(category.id)">
                    <img v-if="category.image" :src="category.image" class="img-fluid" :alt="category.image" @click="edit(category.id)">
                    <img v-else src="/images/missing.png" class="img-fluid" alt="Sin imagen" @click="edit(category.id)">
                </a>
            </div>
            <div class="col-3">
                <a href="#" @click="edit(category.id)"  class="nav-link text-dark" v-if="language == 'es'">
                    <span v-if="category.name.es">{{category.name.es}}</span>
                    <span v-else >Editar</span>
                </a>
                <a href="#" @click="edit(category.id)"  class="nav-link text-dark" v-else>
                    <span v-if="category.name.en">{{category.name.en}}</span>
                    <span v-else >Editar</span>
                </a>
            </div>
            <div class="col-7">
                <div class="row justify-content-end">
                    <a class="btn" href="#" @click="plus(category.id)">
                        <i class="fa fa-plus text-primary"></i>
                    </a>
                    <a class="btn" href="#" @click="active(category.id, index, category.active)">
                        <i v-if="category.active" class="fa fa-power-off text-success"></i>
                        <i v-else class="fa fa-power-off text-danger"></i>
                    </a>
                    <a class="btn text-danger" href="#" @click="destroy(category.id, index)">
                        <i class="fa fa-trash-alt"></i>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <children-categories-component :parent_id="category.id" :language="language"></children-categories-component>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "ChildrenCategoriesComponent",
    props: ['parent_id', 'language'],
    data(){
        return{
            categories: [],
        }
    },
    created () {
        const url = '/admin/categories/' + this.parent_id;
        axios.get(url)
            .then(res => {
                this.categories = res.data;
            })
            .catch(error => {
                console.log(error);
            });
    },
    methods: {
        active(id, index) {
            const url = '/admin/categories/active/' + id;
            axios.post(url)
                .then( res => {
                    window.location.href = window.location.origin + '/admin/categories';
                })
                .catch(error => {
                    console.log(error);
                });
            window.location.href = window.location.origin + '/admin/categories';
        },
        plus(id) {
            const url = '/admin/categories/create/child/' + id;
            window.location.href = window.location.origin + url;
        },
        edit(id) {
            const url = '/admin/categories/' + id + '/edit';
            window.location.href = window.location.origin + url;
        },
        destroy(id, index) {
            const url = '/admin/categories/' + id;
            axios.delete(url)
                .then(() => {
                    window.location.href = window.location.origin + '/admin/categories';
                })
                .catch(error => {
                    console.log(error);
                });
            window.location.href = window.location.origin + '/admin/categories';
        }
    }
}
</script>

<style scoped>

</style>
