<template>
    <div class="">
        <div class="form-check" v-for="(category, index) in categories">
            <input class="form-check-input"
                   type="checkbox"
                   name="categories"
                   :id="index"
                   v-on:click="$emit('pushsub', category.id)"
                   :value="category.id"
                   :checked="category.status" >
            <label class="form-check-label">
                <span v-if="language == 'es'">{{ category.name.es }}</span>
                <span v-else>{{ category.name.en }}</span>
            </label>
            <products-children-categories-component
                :parent_id="category.id"
                :language="language">
            </products-children-categories-component>
        </div>
    </div>
</template>

<script>
export default {
    name: "ProductsChildrenCategoriesComponent",
    props: ['parent_id', 'language', 'categoriesSelect'],
    data(){
        return{
            categories: [],
            product: {
                categories: [],
            },
        }
    },
    created () {
        const url = '/admin/categories/' + this.parent_id;
        axios.get(url)
            .then(res => {
                this.categories = res.data;
                for(let a=0; a<this.categories.length; a++ ){
                    for(let s=0; s<this.categoriesSelect.length; s++){
                        if(this.categories[a].id == this.categoriesSelect[s]){
                            this.categories[a].status = true;
                        }
                    }
                }
            })
            .catch(error => {
                console.log(error);
            });
    }
}
</script>

<style scoped>

</style>
