.upload-btn-wrapper
    position: relative
    overflow: hidden
    display: inline-block

    .btn
        color: white
        cursor: alias
        padding: 2px 20px
        border-radius: 0px
        font-size: 1rem
        font-weight: bold

    input[type=file]
        font-size: 100px
        position: absolute
        left: 0
        top: 0
        opacity: 0
