/*
 * Navbar
.navbar
    .navbar-nav
        right: 0.1rem !important

    .navbar-toggler
        top: .25rem
        right: 1rem

    .form-control
        padding: .75rem 1rem
        border-width: 0
        border-radius: 0
